.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: bold;
}

.h1 {
	font-size: 2em;
}

.h2 {
	font-size: 1.5em;
}
.h3 {
	font-size: 1.3em;
}

.h4 {
	font-size: 1em;
}

.h5 {
	font-size: 0.8em;
}

.h6 {
	font-size: 0.7em;
}

.a {
	cursor: pointer;
	color: #0000ee;
	text-decoration: underline;
	width: fit-content;
}